
<div id="navBarContainer">
  <h1>
    File Uploader 
  </h1>
  <div id="logoutBtnContainer">
    <form action="/log-out" method="POST">
      <button type="submit" id="logoutBtn">
        <img src="/icons/logout.svg" id="logoutImg">
      </button>
    </form>
  </div>
</div>