
<div id="navBarContainer">
  <div id="logoContainer">
    <div id="logoTitle">File <div id="logocloudtxt">Cloud</div> Uploader </div> 
    <div id="logoImgContainer">
      <img src="/icons/backup-file.png" id="logoImg">
    </div>
  </div>
  
  <div id="logoutBtnContainer">
    <form action="/log-out" method="POST">
      <button type="submit" id="logoutBtn">
        <img src="/icons/logout.svg" id="logoutImg">
      </button>
    </form>
  </div>
</div>