
<div id="sidebarContainer">
  <div id="sidebarRowHeight">
    <div class="sidebarOptionsContainer">
      <% if (folders !== null) { %> 
      <button type="button" class="addFileModal" id="createBtn">
        <img src="/icons/addfolder.svg" class="optionsIcons">
      </button>
    <% } else { %>
      <a href="/home">
        <img src="/icons/back.svg" class="optionsIcons">
      </a>
  <% } %> 
    </div>
    <div class="sidebarOptionsContainer">
      <button type="button" class="addFileModal" id="uploadBtn">
        <img src="/icons/addfile.svg" class="optionsIcons">
      </button>
    </div>
    <div class="sidebarOptionsContainer">
      <button type="button" class="addFileModal" id="deleteBtn">
        <img src="/icons/trash.svg" class="optionsIcons">
      </button>
    </div>
  </div>
</div>