
<div id="sidebarContainer">
  <div id="sidebarRowHeight">
    <div class="sidebarOptionsContainer">
      <a href="/home">
        <img src="/icons/back.svg" class="optionsIcons">
      </a>
    </div>

    <div class="sidebarOptionsContainer">
      <a href="<%= file.cloudUrl %>&fl_attachment=true" download="<%= file.fileName %>">
        <button type="button" class="addFileModal" id="downloadBtn">
          <img src="/icons/Download.svg" class="optionsIcons">
        </button>
      </a>
    </div>
    <div class="sidebarOptionsContainer">
        <button type="button" class="addFileModal" id="deleteBtn">
          <img src="/icons/trash.svg" class="optionsIcons">
        </button>
    </div>

  </div>
</div>