<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>


<div id="errorContainer">

  <div id="errorMessage">
    <div>
     <i> <%= error %> </i>
    </div>
    <a href="/home">
     <b>Go Home</b> 
    </a>  
  </div>


</div>