<%- include('partials/header.ejs') %>

<%- include('partials/navbar.ejs') %>


<div id="homeContainer">

  <%- include('partials/sidebar.ejs') %>

  <div id="mainContainer">
    <h1>WELCOME BACK <%= currentUser.fname %></h1>

    <h3>Folder Storages: </h3>

    <h2>All Uploaded Files:</h2>
    <ul>

    </ul>
  
    <div id="fileModal" class="homeModal" style="display: none;">
      <div>
        <h2>Add A File</h2>
  
        <form action="/home/upload" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <input type="file" class="form-control-file" name="uploaded_file">
            <input type="submit" value="Upload" class="btn btn-default">
          </div>
        </form>
        <button class="addFileModal">Close</button>
      </div>
    </div>
    
    <div id="folderModal" class="homeModal"  style="display: none;">
      <div>
        <h2>Add A Folder</h2>
  
        <form action="/home/create" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label>Add a Folder Name</label>
            <input  name="foldername" />
            <button type="submit" >Create</button>
          </div>
        </form>
        <button class="addFileModal">Close</button>
      </div>
    </div>  

    <div id="deleteModal" class="homeModal" style="display: none;">
      <div>
        <h2>Delete Files</h2>
  
        <form action="/home/delete" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label>Delete all Files?</label>
            <button type="submit">Delete</button>
          </div>
        </form>
        <button class="addFileModal">Close</button>
      </div>
    </div>  
  </div>
</div>
<script src="/helpers.js"></script>
