<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body>
  <% if (locals.user) {%>
    <%- include('home.ejs') %>
  <% } else { %>
    <div id="loginContainer">

      <h1>Please Login </h1>
      <% if (locals.errors) {%>
        <ul>
          <% errors.forEach(function(error) { %>
            <li><%= error.msg %></li>
          <% }); %>
        </ul>
      <% } %>
    <form action="/" method="POST">
        <div class="formRows">      
          <input id="username" type="text"  name="username" placeholder="Enter Email"><br>
        </div>
        <div class="formRows">      
          <input id="password" type="password"  name="password" placeholder="Enter Password"><br>
        </div>
        <div id="submitLogin">
          <button type="submit">Login</button>
        </div>
    </form>
    <div>
      Need an account?  
      <a href="/sign-up"> 
        Sign Up!
      </a>
    </div>
 

    <% } %>
  </div>
</body>
</html>