<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
<body>
  <% if (locals.user) {%>
    <%- include('home.ejs') %>
  <% } else { %>
    <h1>please log in</h1>
    <% if (locals.errors) {%>
      <ul>
        <% errors.forEach(function(error) { %>
          <li><%= error.msg %></li>
        <% }); %>
      </ul>
    <% } %>
  <form>
    <fieldset>
      <div id="formHeaderContainer">
        <legend>Login</legend>
      </div>
      <div class="loginRow">      
        <input id="username" type="text"  name="username" placeholder="Enter Email"><br>
      </div>
      <div class="loginRow">      
        <input id="year" type="integer"  name="titleyear" placeholder="Enter Password"><br>
      </div>
      <div id="submitLogin">
        <button type="submit">Login</button>
      </div>
    </fieldset>
  </form>
  <% } %>
  <a href="/sign-up"> 
    <button> Sign Up !</button>
  </a>
</body>
</html>