* {
  border: solid rgb(253, 63, 63) 1px;
}

body {
  font-family: "Montserrat", sans-serif;;
  min-height: 100vh;
  min-width: 25em;
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
  cursor: default;
}

:root {
--primary-color: rgb(41, 41, 41);
--primary-color-alt: rgb(51, 51, 51);
--primary-color-light: rgb(75, 75, 75);
--primary-font: rgb(255, 255, 255);
--light-blue-shade: rgb(0, 180, 255);
--error-color: rgb(156, 0, 0);
}

.light {
  background-color: var(--primary-color-light);
}

.dark {
  background-color: var(--primary-color);
}

button {
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(22, 181, 255);
}

#navBarContainer {
  display: flex;
  justify-content: space-around;
}

#logoImg {
  height: 40px;
  width: 40px;
}



#logoTitle {
  font-weight: 700;
  font-size: 2rem;
}

#logocloudtxt {
  font-family:"Dancing Script", cursive;
  display: inline-block;
  font-weight: 800;
  transform: rotate(-5deg);
}

#logoContainer {
  display:flex;
  justify-content: center;
  align-items: center;
}

#logoutImg {
  width:32px;
  height:32px;
}

#welcomeMsg {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 2rem;
}

.sidebarOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebarRowHeight {
  height: 15%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.optionsIcons {
  width: 20px;
  height: 20px;
}

.trashIcons {
  width: 15px;
  height: 15px;
}

#logoutImg:hover {
  scale: 1.1;
}

#homeContainer {
  min-height: 100%;
  display: flex;
}

#mainContainer {
  flex: 12;
}

#mainContainerAlt {
  flex: 12;
  display: flex;
}

#sidebarContainer {
  flex: 1;
  
}

.filefoldersContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
}


.filefoldersContainer a {
  flex: 5;
}

.filefoldersContainer a:hover {
    text-shadow: 0 0 5px rgba(0, 180, 255, 0.6),
                0 0 10px rgba(0, 180, 255, 0.4);
}

.fileCells {
  display: flex;
  flex: 1;
}

#fileDate {
  font-style: oblique;
  color: var(--primary-font);
  flex: 1;
}

#fileSize {
  color: var(--primary-font);
  flex: 1;
}

#fileName {
  color: var(--light-blue-shade);
  flex: 3;
}

.fileTrash {
  flex: 1;
}

.fileTrash form {
  margin: 0;
}


/* tablet */
@media (max-width: 62.5em) {


}

/* mobile */
@media (max-width: 45em){
  #homeContainer {
    flex-direction: column;
  }

  #sidebarContainer {
  flex: 0;
  
}


  #logoTitle {
    font-size: 1.5rem;
  }

  #sidebarRowHeight {
    display: flex;
    flex-direction: row;
  }
}

@media (max-width:30em) {
  * {
    font-size: 70%;
  }

  .optionsIcons, .trashIcons {
    width: 60%;
  }

  #logoTitle {
    font-size: 1rem;
  }

  #logoutImg , #logoImg{
    width: 15px;
    height: 15px;
  }

}