* {
  border: solid rgb(255, 66, 66) 1px;
}

body {
  font-family: "Montserrat", sans-serif;;
  min-height: 100vh;
  background-color: rgb(41, 41, 41);
  color: whitesmoke;
}

button {
  background-color: transparent;
}

button:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: rgb(22, 181, 255);
}

#navBarContainer {
  display: flex;
  justify-content: space-around;
}

#logoutBtnContainer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#logoutImg {
  width:32px;
  height:32px;
}

.sidebarOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#sidebarRowHeight {
  height: 15%;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-around;
}

.optionsIcons {
  width: 20px;
  height: 20px;
}

#logoutImg:hover {
  scale: 1.1;
}

#homeContainer {
  min-height: 100%;
  display: flex;
}

#mainContainer {
  flex: 12;
}

#mainContainerAlt {
  flex: 12;
  display: flex;
}

#sidebarContainer {
  flex: 1;
  
}

.filefoldersContainer {
  display: flex;
}

.fileTrash {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* tablet */
@media (max-width: 62.5em) {


}

/* mobile */
@media (max-width: 45em) {
  #homeContainer {
    flex-direction: column;
  }

  #sidebarContainer {
  flex: 0;
  
}

  #sidebarRowHeight {
    display: flex;
    flex-direction: row;
  }
}